[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "descsuppR"]
	path = descsuppR
	url = https://github.com/cran/descsuppR
[submodule "descutils"]
	path = descutils
	url = https://github.com/cran/descutils
